<div class="container">
    <h1>Create Fake Posts</h1>
    <div class="row">
        <form action="/admin/generate-fake-posts" method="post">
            <div class="form-group">
                <input name="amount" type="text" class="form-control">
            </div>
            <button type="submit " class="btn btn-info pull-right"> Create</button>
        </form>
    </div>
</div>